# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Gauss.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Mark\Desktop\Gus\.idea\.idea.Gauss\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
